

<div id="haves">
	<h3>Haves</h3>
	<ul>
		<% @user.haves.each do |have| %>
			<li id="<%= have.id %>">
			
				<%= have.name %> <%= link_to "x", destroy_haves_path(have), :method => :delete, :remote => true %>
			
			</li>
		
		<% end %>
	
	</ul>
	<%= form_for(Have.new, :url => haves_create_path, :html => {:remote => true}) do |f| %>
		<%= f.text_field :name, :class => "text"%>
		<%= f.submit "Add Have!", :class => "btn" %>	
	
	<% end %>
</div>


<div id="wants">
	<h3>Wants</h3>
	<ul>
		<% @user.wants.each do |want| %>
		<li id="<%= want.id %>">
			<%= want.name %> <%= link_to "x", destroy_wants_path(want), :method => :delete, :remote => true %>
		
		</li>
		
		<% end %>
	</ul>
	<%= form_for(Want.new, :url => wants_create_path, :html => {:remote => true}) do |f| %>
		<%= f.text_field :name,:class => "text" %>
		<%= f.submit "Add Want!", :class => "btn" %>	
	
	<% end %>
</div>


<script type="text/javascript">
	/*
	$("ul li").mouseover(function(){
		var child = $(this).children("a");
		$(this).children("a").stop().fadeIn(function(){
			$(this).parent("li").parent("ul").stop().mouseout(function(){
				child.fadeOut();
			});
		
		});
	
	});*/


</script>