<!DOCTYPE html>
<html>
<head>
  <title>Bkswapper</title>
  <%= stylesheet_link_tag    "application" %>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper">
		<div id="logo">
			<h1>Bkswapper</h1>
			<p><i>Bkswapper is the best way to trade
			the books you have for the books you need.  Sign up today!</i></p>
		
		</div>
		
		<div class="sign-up-button">
			<%= link_to "Sign In!", new_user_session_path %> <b>Or</b> <%= link_to "Sign up!", new_user_registration_path %>
		</div>
				<div id="footer">
			<ul>
				<li><%= link_to "About", about_path %></li>
				<li><%= link_to "Contact", contact_path %></li>
			
			</ul>
		
		</div>
	</div>



</body>
</html>
